.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-top: 5rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.input {
  width: 100%;
}

.forgotPasswordWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.loginButtonWrapper {
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
}

.loginButton {
  width: 75%;
}

.footer {
  display: flex;
  justify-content: center;
}

.backButton {
  width: 75%;
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #666;
    font-size: 1.2rem;
    z-index: 2;
}
