.container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem;
}

.title {
  color: black;
  margin-bottom: 1rem; 
}

.description {
  color: rgb(58, 58, 58);
  margin-bottom: 1rem;
  margin-top: 2rem; 
}

.galleriaWrapper {
  max-width: 500px;
  width: 100%;
}


.image {
  width: 100%;
  max-width: 500px;
  height: 300px;         /* ✅ ความสูงคงที่ */
  object-fit: cover;     /* ✅ ปรับให้ภาพไม่ผิดสัดส่วน */
  border-radius: 12px;
  margin-top: 1rem;
}


