.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.label {
  color: black;
}

.value {
  color: #007bff;
}


.topBar {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.dropdown {
  width: 250px;
}
