.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  margin-right: 1rem;
  margin-left: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}
