.container {
  padding: 2rem;
  background-color: #ffffff;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (max-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7); /* ปรับได้ตามต้องการ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
